<div class="top-hero-wrapper">
<section class="info">

  <h2 class="text-white">アカウント選択</h2>
  <select name="company">
    <option value="">株式会社松泉閣</option>
  </select>

  <h2 class="text-white">店舗検索</h2>
  <select name="shop">
    <option value="">ケルン</option>
    <option value="1">店舗1</option>
    <option value="2">店舗2</option>
    <option value="3">店舗3</option>
    <option value="4">店舗4</option>
  </select>

  <h2 class="text-white">対象月選択</h2>
  <select name="year">
    <option value="">-</option>
    <option value="2015">2015</option>
    <option value="2016">2016</option>
    <option value="2017">2017</option>
    <option value="2018">2018</option>
    <option value="2019">2019</option>
  </select>

  <select name="month">
    <option value="">-</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select>　月

  <table class="location" border="1" width="400px" >
    <tr>
      <th align="center" width="50%" class="text-white">ロケーション</th>
      <td align="right" bgcolor="#ffffff" width="50%" >Minato</td>
    </tr>
    <tr>
      <th align="center" class="text-white">日額</th>
      <td align="right" bgcolor="#ffffff">0円</td>

    </tr>

  </table>

</section>

<section>
  <table class="word">
    <tr>
      <td rowspan="2" class="text-white">検索ワード１</td>

      <%for num in 1..30 do %>
      <th class="text-white"><%= "#{num}日"%></th>
      <% end %>
    </tr>

    <tr>
      <%for num in 1..30 do %>
      <th class="text-white"><%= "圏外"%></th>
      <% end %>
    </tr>
  </table>
</section>
</div>
